<app-header buttonLink="/archive" headerText="TODO" buttonText="Archív" buttonText2="Elvegezve/Archivalas"></app-header>
<div class="container bg-light">
  <table class="table table-sm table-dark">
    <thead>
    <tr>
      <th scope="col">Prioritás</th>
      <th scope="col">Feladat</th>
      <th scope="col">Date</th>
      <th scope="col">Up to date</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of todos">
      <th scope="row">{{t.priority}}</th>
      <td>{{t.task}}</td>
      <td>{{t.date}}</td>
      <td>{{t.upToDate.day}}.{{t.upToDate.month}}.{{t.upToDate.year}}</td>
      <td>
      <td><input type="checkbox" (change)="completeTodo(t)"></td>
    </tr>
    </tbody>
  </table>
  <br>
  <hr>
  <app-add-todo></app-add-todo>
</div>
