<app-header headerText ='TODO archive' buttonText="Vissza" buttonLink="/todos" buttonText2="Törles"></app-header>
<div class="container bg-light" >
  <table class="table table-sm table-dark">
    <thead>
    <tr>
      <th scope="col">Prioritás</th>
      <th scope="col">Feladat</th>
      <th scope="col">Date</th>
      <th scope="col">Up to date</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of archiveTODO">
      <th scope="row">{{t.priority}}</th>
      <td>{{t.task}}</td>
      <td>{{t.date | dateFormat}}</td>
      <td>{{t.upToDate | dateFormat}} </td>
      <td><input type="checkbox"></td>
    </tr>
    </tbody>
  </table>
</div>
