<app-header headerText ='TODO archive' buttonText="Vissza" buttonLink="/todos" buttonText2="Törles"></app-header>
<div class="container bg-light" >
  <table class="table table-sm table-dark">
    <thead>
    <tr>
      <th scope="col">Prioritás</th>
      <th scope="col">Feladat</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>teszt</td>
      <td><input type="checkbox" aria-label="Checkbox for following text input"></td>
    </tr>
    </tbody>
  </table>
</div>
