<app-header headerText='TODO Archív' buttonText="Vissza" buttonLink="/todos" displayClass="close" ></app-header>
<div class="container bg-light">
  <table class="table table-sm table-dark">
    <thead>
    <tr>
      <th scope="col">Prioritás</th>
      <th scope="col">Feladat</th>
      <th scope="col">Rögzítés dátuma</th>
      <th scope="col">Határidő</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let t of archiveTODO">
      <th scope="row">{{t.priority}}</th>
      <td>{{t.task}}</td>
      <td>{{t.date | dateFormat}}</td>
      <td>{{t.upToDate | dateFormat}}</td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-secondary my-2 my-sm-0 "
          (click)="deleteTodo()">Archív Lista Törlése
  </button>

</div>
